export AWS_PROFILE=default

## for ZScaler the MITM
# export AWS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt

## Proxy settings for AWS CLI if needed.
# export http_proxy=http://127.0.0.1:9999
# export https_proxy=http://127.0.0.1:9999
# export no_proxy=localhost,127.0.0.1
